*.cmake
*.dSYM
*.exp
*.la
*.lo
*.log
*.o
*.plist
*.scan
*.sdf
*.status
*.tar.*
*.gcov
*.gcda
*.gcno
*.html
*~
.DS_Store
.deps
.dirstamp
.done
.libs
Build
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.h
configure
depcomp
android-toolchain
install-sh
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/chinadns
missing
stamp-h1
